@import "./setting/_screenRresolution.scss";
.Benefit_Section{
  background-color:$background_color;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit_component{
  background-color: white;
}
.benefit_component h4{
  font-family:$font-alt ;
  font-weight: bold;
}
.benefit_component p{
  font-family: $font-base;
}

.benefit_image_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 13.5rem;
  height: 9.19rem;
  @media #{$phone} {
  ::before {
    content: "";
    position: relative;
    display: block;
    z-index: 1;
    }
  }
  @media #{$desktop, $tablet} {
    ::after{
      content: "";
      position: relative;
      display: block;
      z-index: 1;
    }
  }
}
img{
  position: relative;
  z-index: 2;
}
.first_benefit{
  .benefit_image_container{
    @media #{$phone} {
      ::before{
        width: 5.94rem;
        height: 6.94rem;
      border-radius: 30%;
      background-color: $first_decoration_color;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      top:88px;
      left: 100px;
      }
    }
    @media #{$desktop, $tablet} {
    ::after{
      width: 136px;
      height: 170px;
      border-radius: 30%;
      background-color: #FB3B64;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      top: -214px;
      left: 170px;
        }
      }
    }
  }

.second_benefit{
    .benefit_image_container {
       @media #{$phone} {
          ::before {
            width: 8.47rem;
           height: 8.47rem;
           border-radius: 100%;
           background-color: $main_color;
           top: 125px;
          }
       }
      @media #{$desktop, $tablet} {
        ::after{
          width: 15.47rem;
          height: 15.47rem;
          border-radius: 100%;
          background-color: #08A6E4;
          top: -273px;
        }
      }
    }
}



@media #{$phone} {
.Benefit_Section{
  width: 100vw;
}
  .benefit_description_container{
    width: 90%;
  }
  .benefit_component{
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin-top: 2.625rem;
    align-items: center;
    h4{
      line-height: 2.4rem;
    font-size: 2.1rem;
    }
    p{
      font-size: 0.8rem;
      margin-bottom: 2rem;
      line-height: 1rem;
    }
    .benefit_image_container{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 13.5rem;
      height: 9.19rem;

    }
  }
  .first_benefit{
    flex-direction: column-reverse;
    align-items: center;

    .benefit_image_container{
      width: 13.5rem;
      height: 9.19rem;
    }
    img{
      width: 12.07rem;
      height: 6.875rem;
    }
    h4{
      margin-top: 1.65rem;
      margin-bottom: 3.25rem;
    }

  }
  .second_benefit{
    .benefit_image_container{
      margin-top: 1.5rem;
      margin-bottom: 1.625rem;
      div{
        align-self: flex-end;
      }
    }
    img{
      width: 10.94rem;
      height: 8.75rem;

    }
    h4{
      margin-bottom: 1.1rem;
    }
  }
  .third_benefit{
    flex-direction: column;
    margin-bottom: 2rem;
    h4{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .benefit_image_container{
      background-color: $secodn_decoration_color;
      width: 100%;
      div{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media #{$desktop, $tablet} {
  .Benefit_Section{
    width: 100%;

  }
  .benefit_component{
    width: 56.2rem;
    height: 18.5rem;
    display: flex;
    align-items: center;
    .benefit_description_container:after {
      content: "";
      position: relative;
      display: block;
      margin-top: 10%;
      width: 70%;
      height: 4px;
      border-radius: 60px;
      background-color: red;
    }
    .benefit_description_container{
      width: 20.8rem;
      height: 8.4rem;
      margin-left: 1.75rem;
      h4{
        font-size: 1.8rem;
        width: 12rem;
        margin-bottom: 1.5rem;
      }
      p{
        font-size: 0.8rem;
      }
    }
    .benefit_image_container{
      div{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .first_benefit{
    margin-top: 5rem;
    .benefit_description_container:after {
      background-color: $first_decoration_color;
    }
    .benefit_image_container{
      margin-left: 8.5rem;
      width: 19.225rem;
      height: 10.95rem;
    }
  }
  .second_benefit{
    .benefit_description_container {
      margin-right: 1.75rem;
    }
    .benefit_image_container{
      width: 21.3rem;
      height: 16.3rem;
      margin-right: 9.6rem;
    }
    flex-direction: row-reverse;
    .benefit_description_container:after {
      background-color: $main_color;
    }
  }
  .second_benefit, .third_benefit {
    margin-top: 2rem;
    .benefit_description_container{
      h4{
        width: 13rem;
      }
    }
  }
  .third_benefit{
   margin-bottom: 5rem;
    background-color: $background_color;
    .benefit_description_container{
      background-color: white;
      width: 31.2rem;
      height: 100%;
      margin-left: 0;
      padding-left: 1.75rem;
      h4{
        width: 17.5rem;
        margin-top: 15%;
      }
      p{
        margin-right: 2rem;
      }
    }
    .benefit_description_container:after {
      background-color: $secodn_decoration_color;
    }
    .benefit_image_container{
      width: 22rem;
      height: 18.5rem;
      margin-left: 3.05rem;
      background-color:$secodn_decoration_color ;
      div{
        img{
          top:3rem;
          right: 1rem;
        }
      }
    }
  }
}