@import "./setting/_screenRresolution.scss";

.contact_us_header{
  h3{
    font-family:$font-alt ;
    font-size: 2.5rem;
  }
  p{
    font-size: 0.8rem;
    font-family:$font-base ;
    font-weight: 600;
  }
}
.contact_us_description{
  p{
    font-family:$font-base ;
    color:$contact_font_color ;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    .svg-inline--fa{
      margin-right: 0.5rem;
    }
  }
}
form{
  label{
    font-size: 1rem;
    font-family:$font-base ;
    color: $main_color;
    font-weight: 700;
  }
  input{
    border-left: none;
    border-top:none;
    border-right: none;
    border-bottom: 1px solid black;
    margin-bottom: 1.3rem;
    margin-top: 0.4rem;
    height: 2rem;
    font-size: 1.2rem;
  }
  div{
    label{
      font-size: 0.8rem;
      color: $contact_font_color;
      font-weight: 500;
    }
  }
  .form_button{
    width: 11.3rem;
    height: 3rem;
    color: white;
    background-color: $main_color;
    align-self: flex-end;
    margin-top: 1rem;
    border-radius: 30px;
    font-size: 0.8rem;
    font-family:$font-base ;
    font-weight: 600;

  }

}
@media #{$phone}{
 .Contact_Us{
   width: 80%;
   display: flex;
   flex-direction: column;
   align-self: center;
   .contact_us_header{
     display: flex;
     flex-direction: column;
     h3{
       margin-bottom: 0.6rem;
     }
     p{
       margin-bottom: 1.5rem;
     }
   }
   form{
     display: flex;
     flex-direction: column;
     width: 100%;
     margin-top: 1rem;
     div{
       display: flex;
       label{
         margin-left: 1rem;
       }
     }

   }
 }
}

@media #{$desktop, $tablet}{
  .Contact_Us{
    margin-top: 2rem;
    width: 44.8rem;
    height: 18.8rem;
    display: flex;
    align-self: center;
    position: relative;
    .contact_us_description_container{
      width: 50%;
    }
    .contact_us_header{
      margin-bottom: 2rem;
      h3{
        margin-bottom: 1rem;
      }
      width: 100%;
    }
    .contact_us_description{
      width: 75%;
      display: flex;
      justify-content: space-between;
      position: relative;
      top:1px;
      left: 1px;
    }
    form{
      display: flex;
      flex-direction: column;
      width: 50%;
      div{
        display: flex;
        label{
          margin-left: 2%;
        }
      }
    }
  }
}