@import "./setting/_screenRresolution.scss";

footer{
  width: 100%;
  height: 4.5rem ;
  background-color: $background_color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .footer_description{
    width: 60%;
    a{
      text-decoration: none;
      color: $main_color;
      font-size: 1.3rem;
      font-family:$font-alt ;
    }
    p{
      font-family:$font-base ;
      color: $contact_font_color;
      font-size: 0.6rem;
      margin-top: 0.5rem;
    }
  }
  .footer_media{
    width:20%;
    display: flex;
    justify-content: space-between;
  }
}

@media #{$desktop, $tablet} {
  footer{
    .footer_media{
      width: 5%;
    }
  }
  }

