@import "reset";
@import "./setting/colors";
@import "./setting/fonts";
@import "Header";
@import "mainNavigation";
@import "DescriptionSection";
@import "./setting/_screenRresolution.scss";
@import "BenefitSection";
@import "PricingSection";
@import "ContactUsSection";
@import 'Footer';
//$desktop: "(min-width: 1025px)";
//$tablet: "(min-width: 768px) and (max-width: 1024px)";
//$phone: "(min-width: 300px) and (max-width: 767px)";


body{
  display: flex;
  justify-content: center;
  @media #{$desktop}{
    font-size: 20px;
  }
  @media #{$tablet}{
    font-size: 18px;
  }
  @media #{$phone}{
    font-size: 16px;
  }

}
.App{
  @media #{$desktop,$tablet}{
    width: calc(100vw - 15px);
  }
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
