@import "./setting/_screenRresolution.scss";



.pricing_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-family:$font-alt ;
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
  }
  .pricing_component{
    border-style: solid;
    border-width: 1.5px;
    border-radius: 30px;
    .pricingButton{
      position: absolute;
      top: 90%;
      left: 25%;
      width: 50%;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
    }
    .pricing_header{
      .pricing_title{
        font-family: $font-alt;
        font-size: 1rem;
        font-weight: 700;
      }
      .price{
        font-family:$font-base ;
        font-size: 2.3rem;
        font-weight: 400;
      }
      .offer{
        font-family: $font-alt;
        font-size: 0.6rem;
        font-weight: 600;
      }
    }

  }
  .basic{
    border-color:$first_decoration_color ;
    .price{
      color: $first_decoration_color;
    }
    .offer{
      display: none;
    }
  }
  .basic_component_button{
    background-color:$first_decoration_color ;
  }
  .professional{
    border-color: $main_color;
    box-shadow: 5px 6px 14px 3px rgba(8,166,228,0.44);
    .price{
      color: $main_color;
    }
  }
  .professional_component_button{
    background-color:$main_color ;
  }
  .premium{
    border-color: $secodn_decoration_color;
    .price{
      color: $secodn_decoration_color;
    }
  }
  .premium_component_button{
    background-color:$secodn_decoration_color ;
  }
}

@media #{$phone} {
.pricing_section{
  width: 100%;
  .pricing_component{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    border-radius: 30px;
    .pricing_header{
      .pricing_title{
        margin-top: 50%;
        margin-bottom: 0.5rem;
      }
      .price{
        margin-bottom: 0.5rem;
      }
    }
    .pricingButton{
      height: 3rem;

    }
    .pricing_description{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p:first-of-type{
        margin-top: 2.5rem;
      }
      p{
        margin-bottom: 0.8rem;
      }
    }
  }
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .basic{
      width: 70%;
      height: 14rem;


    }
    .professional{
      width: 80%;
      height: 16rem;

    }
    .premium{
      width: 70%;
      height: 14rem;

    }
  }

}

}


@media #{$desktop, $tablet} {
  .pricing_section{
    .price_container{
      width: 60vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pricing_component {
        height: 23.05rem;
        width: 18.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 4rem;

        .pricing_header {
          display: flex;
          flex-direction: column;
          margin-top: 1.7rem;
          text-align: center;

          .price {
            margin-top: 1rem;
          }

          .offer {
            margin-top: 0.3rem;
          }
        }

        .pricing_description {
          display: flex;
          flex-direction: column;
          margin-top: 2.5rem;

          p {
            margin-bottom: 1rem;
          }
        }

        .pricingButton {
          position: absolute;
          top: 94%;
          left: 25%;
          width: 50%;
          height: 3rem;
        }
      }
      .professional{
        width: 22.25rem;
        height: 25rem;
      }
    }

  }
}